.banner{
  background: url('https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-header.png?raw=true') no-repeat center center / cover;

  .container{ /* 需設定高把高撐高，才能設定主軸及交錯軸 */
    height: 787px;
  }

  h2{
    color: $red-dark;
    font-size: 64px;
    font-weight: bold;
  }

  p{
    color: $red-dark;
    font-size: 36px;
    order: -1;
  }

  button{
    background-color: $primary;
    color: $white;
    padding: 6px 12px;
    margin-top: 4px;
  }
}

@media(max-width: 1296px){
  .banner{
    background: url('https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-header-sm.png?raw=true') no-repeat center center / cover;
  }
}