.footer {
  background-color: $primary;
  @extend %link-hover
}

.footer-top {
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #fff;

  @include pad {
    flex-direction: column;
    gap: 32px;
  }
}

.footer-nav {
  &__group {
    justify-content: space-between;
    order: 1;

    @include pad {
      align-items: center;
      order: -1;
    }
  }

  &__list {
    display: none;

    @include pad {
      display: flex;
      gap: 48px;
    }
  }
}

.footer-social {
  &__list {
    gap: 16px;

    @include pad {
      gap: 20px;
    }
  }

  &__item {
    width: 24px;

    @include pad {
      width: 40px;
    }
  }
}

.footer-info {
  &__list {
    flex-direction: column;
    gap: 8px;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 12px;

    @include pad {
      gap: 20px;
    }
  }

  &__link {
    @include pad {
      font-size: 36px;
    }
  }

  &__icon {
    font-size: 18px;

    @include pad {
      font-size: 36px;
    }
  }
}

.footer-bottom {
  flex-direction: column;
  gap: 8px;
  color: white;
  
  @include pad {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.footer-terms {
  &__list {
    flex-direction: column;
    gap: 8px;

    @include pad {
      flex-direction: row;
      gap: 48px;
    }
  }
}