.l-footer{
  background-color: $primary;
}

.l-footer-container{
  padding: 0 16px;
  
}

.l-footer-top{
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #fff;
}

.l-footer-left{
  color: $white;
}

.l-footer-nav__list{
  display: none;
}

.l-footer-media{
  display: flex;

  li{
    width: 24px;
  }

  li~li{
    margin-left: 8px;
  }

  svg{
    max-width: 100%;
  }
}