.header{
  background-color: $primary;
}

.header__frame{
  @include pad{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.header__logo{
  padding: 16px;

  @include pad{
    padding-left: 0;
  }
}

.header__logo-link{ /* 設定 logo 作為背景圖片 */
  width: 80px;
  height: 48.57px;
  background-image: url('https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/logo-white.png?raw=true');
  background-size: cover;
}

.header__logo-replace{ /* 圖片取代文字 */
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
}

.header__menu-list{
  li~li{
    @include pad{
      margin-left: 64px;
    }
  }
}

.header__menu-item{
  width: 50%;
  text-align: center;
  color: $white;
  border: .5px solid #fff;

  @include pad{
    width: fit-content;
    border: none;
  }

  &:hover{
    background: $red-dark;
    font-weight: 700;

    @include pad{
      color: $green-light;
      background: transparent;
    }
  }
}

.header__menu-link{
  padding-top: 12px;
  padding-bottom: 12px;
}