.header {
  background-color: $primary;
  @extend %link-hover;
}

.header-main{
  @include pad {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.header-logo {
  padding: 16px;

  @include pad {
    padding-left: 0;
  }

  &__link {
    width: 80px;
    height: 48.57px;
    background-image: url('https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/logo-white.png?raw=true');
    background-size: cover;
    @include text-replace;
  }
}

.header-nav {
  &__list {
    flex-wrap: wrap;

    @include pad {
      gap: 64px;
    }
  }

  &__item {
    width: 50%;
    border: .5px solid #fff;
    text-align: center;
    
    @include pad {
      width: fit-content;
      border: none;
    }
  }

  &__link {
    color: white;
    @include py(12px, 12px);
  }
}