[class*="section-title"]{
  font-size: 24px;
  font-weight: bold;
  color: $red-dark;
  text-align: center;
  margin-bottom: 24px;
  @include pad{
    font-size: 48px;
    margin-bottom: 48px;
  }
}

.section-area{
  padding-top: 40px;
  padding-bottom: 40px;

  @include pad{
    padding-top: 80px;
    padding-bottom: 80px;
  }
}