.product {
  &__list {
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 24px;
    margin-bottom: 64px;

    @include pad {
      gap: 40px 24px;
      margin-bottom: 80px;
    }

    @include pc {
      gap: 80px 24px;
    }
  }

  &__item {
    @extend %hover-img;
  }

  &__pic {
    overflow: hidden;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    font-size: 24px;

    &-price {
      color: $primary;
    }
  }

  &__color {
    display: flex;
    gap: 8px;

    span {
      width: 24px;
      height: 24px;
      border-radius: 4px;
    }

    &-1 {
      background-color: #5F3E2D;
    }

    &-2 {
      background-color: #B75929;
    }
  }
}

.series__title {
  flex-direction: column-reverse;
  text-align: center;
  margin-bottom: 24px;

  @include pad {
    margin-bottom: 32px;
  }

  &-zh {
    font-size: 24px;

    @include pad {
      font-size: 32px;
    }
  }

  &-en {
    font-size: 24px;
    font-weight: 500;

    @include pad {
      font-size: 42px;
    }
  }
}

.series-opt-product {
  .product__pic {
    height: 168px;
    
    img{
      height: 100%;
    }
  }

  li {
    width: 100%;

    @include pad {
      width: calc((100% - 24px) / 2);
    }

    @include pc {
      width: calc((100% - 72px) / 4);
    }
  }

  li:nth-child(n+6) {
    display: none;

    @include pad {
      display: block;
    }
  }

  li:nth-child(n+11) {
    display: none;

    @include pc {
      display: block;
    }
  }
}

.series-sun-product {
  .product__pic {
    height: 224px;
 
    img {
      height: 100%;
    }
  }

  li {
    width: 100%;

    @include pad {
      width: calc((100% - 24px) / 2);
    }

    @include pc {
      width: calc((100% - 48px) / 3);
    }
  }
}