.flex{
  display: flex;
}

@include pad{
  .flex-pad{
    display: flex;
  }
}

.column{
  display: flex;
  flex-direction: column;
}

.wrap{
  display: flex;
  flex-wrap: wrap;
}


// justify-content
.justify-center{
  justify-content: center;
}

.justify-end{
  justify-content: end;
}

.justify-between{
  justify-content: space-between;
}

@include pad{
  .justify-pad-between{
    justify-content: space-between;
  }
}


// align-items
.items-start{
  align-items: flex-start;
}

.items-center{
  align-items: center;
}

@include pad{
  .items-pad-center{
    align-items: center;
  }
}

.items-end{
  align-items: flex-end;
}

// align-content
.content-between{
  align-content: space-between;
}