/* container */
/* mobile px-16 -> pad px-36 -> web no-px */
.container-main {
  max-width: $container;
  margin: 0 auto;
  @include px(16px, 16px);

  @include pad {
    @include px(36px, 36px);
  }

  @include pc-lg {
    @include px(0px, 0px);
  }
}

/* mobile no-px -> pad px-36 -> web no-px */
.container-full {
  max-width: $container;
  margin: 0 auto;
  @include px(0px, 0px);

  @include pad {
    @include px(36px, 36px);
  }

  @include pc-lg {
    @include px(0px, 0px);
  }
}



/* wrap */
.footer-wrap {
  &-top {
    @include py(24px, 24px);

    @include pad {
      @include py(64px, 64px);
    }
  }

  &-bottom {
    @include py(16px, 16px);
  
    @include pad {
      @include py(32px, 32px);
    }
  }
}

.home-section-wrap {
  @include py-frame(40px, 40px);

  @include pad {
    @include py-frame(80px, 80px);
  }
}

.page-wrap {
  @include py(40px, 64px);

  @include pad {
    @include py(96px, 80px);
  }
}

.product-wrap {
  @include py(40px, 40px);

  @include pad {
    @include py(80px, 80px);
  }
}

.blog-wrap {
  @include py-frame(8px, 64px);

  @include pad {
    @include py-frame(16px, 80px);
  }
}



/* title */
.page__title {
  font-size: 24px;
  font-weight: bold;
  padding-left: 16px;
  border-left: 8px solid $primary;
  margin-bottom: 24px;

  @include pad {
    font-size: 48px;
    margin-bottom: 32px;
  }
}



/* flex */
.u-flex {
  display: flex;
}