// padding
.p-4{padding: 4px;}
.p-8{padding: 8px;}
.p-12{padding: 12px;}
.p-16{padding: 16px;}
.p-20{padding: 20px;}
.p-24{padding: 24px;}
.p-28{padding: 28px;}
.p-32{padding: 32px;}
.p-36{padding: 36px;}
.p-40{padding: 40px;}
.p-44{padding: 44px;}
.p-48{padding: 48px;}

.pt-4{padding-top: 4px;}
.pt-8{padding-top: 8px;}
.pt-12{padding-top: 12px;}
.pt-16{padding-top: 16px;}
.pt-20{padding-top: 20px;}
.pt-24{padding-top: 24px;}
.pt-28{padding-top: 28px;}
.pt-32{padding-top: 32px;}
.pt-36{padding-top: 36px;}
.pt-40{padding-top: 40px;}
.pt-44{padding-top: 44px;}
.pt-48{padding-top: 48px;}

.pb-4{padding-bottom: 4px;}
.pb-8{padding-bottom: 8px;}
.pb-12{padding-bottom: 12px;}
.pb-16{padding-bottom: 16px;}
.pb-20{padding-bottom: 20px;}
.pb-24{padding-bottom: 24px;}
.pb-28{padding-bottom: 28px;}
.pb-32{padding-bottom: 32px;}
.pb-36{padding-bottom: 36px;}
.pb-40{padding-bottom: 40px;}
.pb-44{padding-bottom: 44px;}
.pb-48{padding-bottom: 48px;}

.pl-4{padding-left: 4px;}
.pl-8{padding-left: 8px;}
.pl-12{padding-left: 12px;}
.pl-16{padding-left: 16px;}
.pl-20{padding-left: 20px;}
.pl-24{padding-left: 24px;}
.pl-28{padding-left: 28px;}
.pl-32{padding-left: 32px;}
.pl-36{padding-left: 36px;}
.pl-40{padding-left: 40px;}
.pl-44{padding-left: 44px;}
.pl-48{padding-left: 48px;}

.pr-4{padding-right: 4px;}
.pr-8{padding-right: 8px;}
.pr-12{padding-right: 12px;}
.pr-16{padding-right: 16px;}
.pr-20{padding-right: 20px;}
.pr-24{padding-right: 24px;}
.pr-28{padding-right: 28px;}
.pr-32{padding-right: 32px;}
.pr-36{padding-right: 36px;}
.pr-40{padding-right: 40px;}
.pr-44{padding-right: 44px;}
.pr-48{padding-right: 48px;}

.py-4{ @include py(4px,   4px);}
.py-8{ @include py(8px,   8px);}
.py-12{@include py(12px, 12px);}
.py-16{@include py(16px, 16px);}
.py-20{@include py(20px, 20px);}
.py-24{@include py(24px, 24px);}
.py-28{@include py(28px, 28px);}
.py-32{@include py(32px, 32px);}
.py-36{@include py(36px, 36px);}
.py-40{@include py(40px, 40px);}
.py-44{@include py(44px, 44px);}
.py-48{@include py(48px, 48px);}

.px-4{ @include px(4px,   4px);}
.px-8{ @include px(8px,   8px);}
.px-12{@include px(12px, 12px);}
.px-16{@include px(16px, 16px);}
.px-20{@include px(20px, 20px);}
.px-24{@include px(24px, 24px);}
.px-28{@include px(28px, 28px);}
.px-32{@include px(32px, 32px);}
.px-36{@include px(36px, 36px);}
.px-40{@include px(40px, 40px);}
.px-44{@include px(44px, 44px);}
.px-48{@include px(48px, 48px);}


// margin 

.m-auto{margin: 0 auto;}

.m-4{margin: 4px;}
.m-8{margin: 8px;}
.m-12{margin: 12px;}
.m-16{margin: 16px;}
.m-20{margin: 20px;}
.m-24{margin: 24px;}
.m-28{margin: 28px;}
.m-32{margin: 32px;}
.m-36{margin: 36px;}
.m-40{margin: 40px;}
.m-44{margin: 44px;}
.m-48{margin: 48px;}

.mt-4{margin-top: 4px;}
.mt-8{margin-top: 8px;}
.mt-12{margin-top: 12px;}
.mt-16{margin-top: 16px;}
.mt-20{margin-top: 20px;}
.mt-24{margin-top: 24px;}
.mt-28{margin-top: 28px;}
.mt-32{margin-top: 32px;}
.mt-36{margin-top: 36px;}
.mt-40{margin-top: 40px;}
.mt-44{margin-top: 44px;}
.mt-48{margin-top: 48px;}

.mb-4{margin-bottom: 4px;}
.mb-8{margin-bottom: 8px;}
.mb-12{margin-bottom: 12px;}
.mb-16{margin-bottom: 16px;}
.mb-20{margin-bottom: 20px;}
.mb-24{margin-bottom: 24px;}
.mb-28{margin-bottom: 28px;}
.mb-32{margin-bottom: 32px;}
.mb-36{margin-bottom: 36px;}
.mb-40{margin-bottom: 40px;}
.mb-44{margin-bottom: 44px;}
.mb-48{margin-bottom: 48px;}

.ml-4{margin-left: 4px;}
.ml-8{margin-left: 8px;}
.ml-12{margin-left: 12px;}
.ml-16{margin-left: 16px;}
.ml-20{margin-left: 20px;}
.ml-24{margin-left: 24px;}
.ml-28{margin-left: 28px;}
.ml-32{margin-left: 32px;}
.ml-36{margin-left: 36px;}
.ml-40{margin-left: 40px;}
.ml-44{margin-left: 44px;}
.ml-48{margin-left: 48px;}

.mr-4{margin-right: 4px;}
.mr-8{margin-right: 8px;}
.mr-12{margin-right: 12px;}
.mr-16{margin-right: 16px;}
.mr-20{margin-right: 20px;}
.mr-24{margin-right: 24px;}
.mr-28{margin-right: 28px;}
.mr-32{margin-right: 32px;}
.mr-36{margin-right: 36px;}
.mr-40{margin-right: 40px;}
.mr-44{margin-right: 44px;}
.mr-48{margin-right: 48px;}


.my-4{ @include my(4px,   4px);}
.my-8{ @include my(8px,   8px);}
.my-12{@include my(12px, 12px);}
.my-16{@include my(16px, 16px);}
.my-20{@include my(20px, 20px);}
.my-24{@include my(24px, 24px);}
.my-28{@include my(28px, 28px);}
.my-32{@include my(32px, 32px);}
.my-36{@include my(36px, 36px);}
.my-40{@include my(40px, 40px);}
.my-44{@include my(44px, 44px);}
.my-48{@include my(48px, 48px);}

.mx-4{ @include mx(4px,   4px);}
.mx-8{ @include mx(8px,   8px);}
.mx-12{@include mx(12px, 12px);}
.mx-16{@include mx(16px, 16px);}
.mx-20{@include mx(20px, 20px);}
.mx-24{@include mx(24px, 24px);}
.mx-28{@include mx(28px, 28px);}
.mx-32{@include mx(32px, 32px);}
.mx-36{@include mx(36px, 36px);}
.mx-40{@include mx(40px, 40px);}
.mx-44{@include mx(44px, 44px);}
.mx-48{@include mx(48px, 48px);}
