// text-color
.text-primary{
  color: $primary;
}

.text-secondary{
  color: $secondary;
}

.text-red-dart{
  color: $red-dark;
}

.text-white{
  color: white;
}

.text-black{
  color: block;
}


// text-align
.text-center{
  text-align: center;
}

.text-end{
  text-align: end;
}

// background
.bg-primary{
  background: $primary;
}