// colors
$primary: #AA0601;
$secondary: #FBF2F2;
$green-light: #ccff00;
$red-dark: #650300;
$gray: #00000029;
$gray-light: #DEE2E6;
$gray-dark: #707070;
$black: #000;
$white: #fff;


// sizing
$container: 1296px;