<footer class="footer">
  <div class="container-main">
    <div class="footer-top footer-frame-top u-flex">
      <div class="footer-nav__group u-flex">
        <ul class="footer-nav__list">
          <li class="footer-nav__item"><a class="footer-nav__link" href="#">首頁</a></li>
          <li class="footer-nav__item"><a class="footer-nav__link" href="series_opt.html">系列鏡框</a></li>
          <li class="footer-nav__item"><a class="footer-nav__link" href="stores.html">門市據點</a></li>
          <li class="footer-nav__item"><a class="footer-nav__link" href="blogs.html">部落格</a></li>
          <li class="footer-nav__item"><a class="footer-nav__link" href="faq.html">常見問題</a></li>
        </ul>

        <ul class="footer-social__list u-flex">
          <li class="footer-social__item"><a href="#"><img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic-social-fb.png?raw=true" alt="Facebook 連結圖片"></a></li>
          <li class="footer-social__item"><a href="#"><img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic_social_ig.png?raw=true" alt="Instagrem 連結圖片"></a></li>
          <li class="footer-social__item"><a href="#"><img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic_social_line.png?raw=true" alt="Line 連結圖片"></a></li>
        </ul>
      </div>

      <ul class="footer-info__list u-flex">
        <li class="footer-info__item">
          <span class="footer-info__icon material-symbols-outlined">call</span>
          <a class="footer-info__link" href="tel: 0800000000">0800-000-000</a>
        </li>
        <li class="footer-info__item">
          <span class="footer-info__icon material-symbols-outlined">mail</span>
          <a class="footer-info__link" href="mailto: glasses@business.com">glasses@business.com</a>
        </li>
      </ul>
    </div>

    <div class="footer-frame-bottom">
      <div class="footer-bottom u-flex">
        <span>Copyright © 2020 Glasses.All rights reserved.</span>
        <ul class="footer-terms__list u-flex">
          <li class="footer-terms__item"><a class="footer-terms__link" href="#">隱私權政策</a></li>
          <li class="footer-terms__item"><a class="footer-terms__link" href="#">服務條款</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>