<header class="header">
  <div class="container-full">
    <div class="header-frame">
      <h1 class="header-logo">
        <a href="index.html" class="header-logo__link">
          <div class="header-logo__replace">眼鏡官網</div>
        </a>
      </h1>
      <ul class="header-nav__list u-flex">
        <li class="header-nav__item"><a class="header-nav__link" href="series_opt.html">系列鏡框</a></li>
        <li class="header-nav__item"><a class="header-nav__link" href="stores.html">門市據點</a></li>
        <li class="header-nav__item"><a class="header-nav__link" href="blogs.html">部落格</a></li>
        <li class="header-nav__item"><a class="header-nav__link" href="faq.html">常見問題</a></li>
      </ul>
    </div>
  </div>
</header>