<header class="header">
  <div class="container-full">
    <div class="header__frame">
      <h1 class="header__logo">
        <a href="index.html" class="header__logo-link">
          <div class="header__logo-replace">眼鏡官網</div>
        </a>
      </h1>
      <ul class="header__menu-list wrap">
        <li class="header__menu-item"><a class="header__menu-link" href="series_opt.html">系列鏡框</a></li>
        <li class="header__menu-item"><a class="header__menu-link" href="stores.html">門市據點</a></li>
        <li class="header__menu-item"><a class="header__menu-link" href="blogs.html">部落格</a></li>
        <li class="header__menu-item"><a class="header__menu-link" href="faq.html">常見問題</a></li>
      </ul>
    </div>
  </div>
</header>