<header class="l-header">
  <div class="l-header__container">
    <div class="l-header__logo">
      <a class="l-header__logo-link" href="index.html">
        <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/logo-white.png?raw=true" alt="">
      </a>
    </div>
    <ul class="l-header__menu-list">
      <li class="l-header__menu-item"><a class="block" href="products.html">系列鏡框</a></li>
      <li class="l-header__menu-item"><a class="block" href="stores.html">門市據點</a></li>
      <li class="l-header__menu-item"><a class="block" href="blogs.html">部落格</a></li>
      <li class="l-header__menu-item"><a class="block" href="faq.html">常見問題</a></li>
    </ul>
  </div>
</header>