<div class="u-flex">
  <ul class="pagination__list u-flex">
    <li class="pagination__item"><a class="pagination__link" href="#">上一頁</a></li>
    <li class="pagination__item pagination__item--active"><a class="pagination__link" href="#">1</a></li>
    <li class="pagination__item"><a class="pagination__link" href="#">2</a></li>
    <li class="pagination__item"><a class="pagination__link" href="#">3</a></li>
    <li class="pagination__item"><a class="pagination__link" href="#">4</a></li>
    <li class="pagination__item"><a class="pagination__link" href="#">5</a></li>
    <li class="pagination__item pagination__item--able"><a class="pagination__link" href="#">下一頁</a></li>
  </ul>
</div>