<nav class="series__nav">
  <ul class="series__nav__list">
    <li class="series__nav__item"><a href="#" class="series__nav__link">OPTICAL</a></li>
    <li class="series__nav__item"><a href="#" class="series__nav__link">SUNGLASS</a></li>
    <li class="series__nav__item"><a href="#" class="series__nav__link">FUNCTIONAL</a></li>
  </ul>
</nav>