/* home banner */
.banner {
  background: url('/assets/images/home-header-sm.png') no-repeat center center / cover;

  @include pad {
    background: url('/assets/images/home-header.png') no-repeat center center / cover;
  }
}

.banner-frame {
  /* 需設定高把高撐高，才能設定主軸及交錯軸 */
  height: 396px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;

  @include pad {
    height: 787px;
  }
}

.banner {
  &__title {
    font-size: 24px;
    font-weight: bold;
    color: $red-dark;

    @include pad {
      font-size: 64px;
    }
  }

  &__slogan {
    color: $red-dark;
    order: -1;

    @include pad {
      font-size: 36px;
    }
  }

  &__btn {
    @include button($primary, white);
    font-size: 20px;
    padding: 6px 12px;
    margin-top: 4px;
  }
}



/* page banner */
.page-banner {
  height: 136px;

  @include pad {
    height: 296px;
  }

  &__item {
    height: 136px;
    width: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @include pad {
      height: 296px;
    }
  }
}

.series-opt-banner {
  span:nth-child(1) {
    background-image: url('/assets/images/product-header-sm-1.png');

    @include pad {
      background-image: url('/assets/images/product-header-1.png');
    }
  }

  span:nth-child(2) {
    background-image: url('/assets/images/product-header-sm-2.png');

    @include pad {
      background-image: url('/assets/images/product-header-2.png');
    }
  }
}

.series-sun-banner {
  span:nth-child(1) {
    background-image: url('/assets/images/product-header-sm-3.png');

    @include pad {
      background-image: url('/assets/images/product-header-3.png');
    }
  }

  span:nth-child(2) {
    background-image: url('/assets/images/product-header-sm-4.png');

    @include pad {
      background-image: url('/assets/images/product-header-4.png');
    }
  }
}