/* home banner */
.banner-main {
  @extend %banner-background;
  background-image: url('/assets/images/home-header-sm.png');

  @include pad {
    background-image: url('/assets/images/home-header.png');
  }
}

.banner-content {
  /* 需設定高把高撐高，才能設定主軸及交錯軸 */
  height: 396px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;

  @include pad {
    height: 787px;
  }
}



/* page banner */
.page-banner {
  height: 136px;

  @include pad {
    height: 296px;
  }

  &__item {
    height: 136px;
    width: 50%;
    @extend %banner-background;
    @include pad {
      height: 296px;
    }
  }
}

.series-opt-banner {
  span:nth-child(1) {
    background-image: url('/assets/images/product-header-sm-1.png');

    @include pad {
      background-image: url('/assets/images/product-header-1.png');
    }
  }

  span:nth-child(2) {
    background-image: url('/assets/images/product-header-sm-2.png');

    @include pad {
      background-image: url('/assets/images/product-header-2.png');
    }
  }
}

.series-sun-banner {
  span:nth-child(1) {
    background-image: url('/assets/images/product-header-sm-3.png');

    @include pad {
      background-image: url('/assets/images/product-header-3.png');
    }
  }

  span:nth-child(2) {
    background-image: url('/assets/images/product-header-sm-4.png');

    @include pad {
      background-image: url('/assets/images/product-header-4.png');
    }
  }
}