.banner {
  background: url('https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-header-sm.png?raw=true') no-repeat center center / cover;
  @include pad {
    background: url('https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-header.png?raw=true') no-repeat center center / cover;
  }
}

.banner__frame {
  /* 需設定高把高撐高，才能設定主軸及交錯軸 */
  height: 396px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  @include pad {
    height: 787px;
  }
}

.banner__title {
  font-size: 24px;
  color: $red-dark;
  font-weight: bold;
  @include pad {
    font-size: 64px;
  }
}

.banner__slogan {
  color: $red-dark;
  order: -1;
  @include pad {
    font-size: 36px;
  }
}

.banner__btn {
  @include button($primary, white);
  margin-top: 4px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 12px;
  padding-left: 12px;
  font-size: 20px;
}