[class$="card-list"]{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  @include pad{
    justify-content: space-between;
  }
}

[class$="card-item"]{
  overflow: hidden;
  @include pad{
    width: calc((100% - 24px) / 2)
  }
  @include pc{
    width: calc((100% - 24px * 3) / 4);
  }
}

[class$="card-body"]{
  display: flex;
  flex-direction: column;
}

[class$="card-pic"]{
  overflow: hidden;
}