.comment__card-item{
  border-radius: 4px;
  box-shadow: 0 2px 6px #00000029;
}

.comment__card-body{
  height: 205px;
  padding: 16px;
}

.comment__card-pic{
  max-height: 306px;
}

.comment__card-title{
  margin-bottom: 8px;
}

.comment__card-content{
  @include ellipsis(3);
}

.comment__card-time{
  margin-top: auto;
  color: $gray-dark;
}