.nav {
  @include pad {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    li~li {
      @include pad {
        margin-left: 48px;
      }
    }
  }

  &__item {
    &:hover a {
      color: $green-light;
      font-weight: bold;
    }
  }

  &__link {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  &__icon {
    display: none;

    @include pad {
      display: block;
    }
  }
}