.pagination {
  &__list {
    border: 1px solid $gray-dark;
    margin: 0 auto;
  }

  &__item{
    &:not(:last-child){
      border-right: 1px solid $gray-dark;
    }
    &:hover a {
      color: white;
      font-weight: blod;
      background-color: black;
    }
  }

  &__link {
    padding: 12px 16px;
    color: $gray-dark;
  }

  &__item--active a {
    color: white;
    background-color: $primary;
  }

  &__item--able a {
    color: black;
    background-color: $gray-light;
  }
}