.pagination {
  &__nav {
    display: flex;
    justify-content: center;
  }

  &__list {
    border: 1px solid $gray-dark;
  }

  &__item:hover a {
    color: $primary;
    font-weight: blod;
    background-color: $secondary;
  }

  &__item:not(:last-child) {
    border-right: 1px solid $gray-dark;
  }

  &__item--active a {
    color: white;
    background-color: black;
  }

  &__item--able a {
    color: black;
    background-color: $gray-light;
  }

  &__link {
    padding: 12px 16px;
    color: $gray-dark;
  }
}