[class$="type-list"]{
  display: flex;
  flex-direction: column;
  align-items: center;
  @include pc{
    flex-direction: row;
    justify-content: space-between;
  }
  
  li~li{
    margin-top: 24px;
    @include pc{
      margin-top: 0;
    }
  }
}

[class$="type-item"]:hover{
  img{
    transform: scale(1.2);
    transition: .5s ease-out;
  }
}

[class$="type-pic"]{
  overflow: hidden;
}

[class$="type-title"]{
  text-align: center;
  background-color: white;
}

[class$="type-link"]{
  color: $primary;
  font-size: 48px;
  font-style: italic;
  font-weight: bold;
}

.series__type-item {
  max-width: 336px;
  @include pad{
    max-width: 416px;
  }
}
