<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>眼鏡官網｜部落格</title>
</head>

<body>
  <%- include('./layout/header'); -%>
    <nav class="blog-navbar">
      <div class="container-main">
        <ul class="blog-nav">
          <li class="blog-nav__item"><a href="#" class="blog-nav__link">最新消息</a></li>
          <li class="blog-nav__item"><a href="#" class="blog-nav__link">特別企劃</a></li>
          <li class="blog-nav__item"><a href="#" class="blog-nav__link">新品上市</a></li>
          <li class="blog-nav__item"><a href="#" class="blog-nav__link">鏡框小知識</a></li>
        </ul>
      </div>
    </nav>


    <main>
      <div class="container-main">
        <div class="page-detail-title">

        </div>
      </div>
    </main>

    <%- include('./layout/footer'); -%>
      <script type="module" src="../main.js"></script>
</body>

</html>