<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>眼鏡官網｜經典系列鏡框</title>
</head>

<body>
  <%- include('./layout/header'); -%>

    <main>
      <div class="series-type">
        <div class="container-full">
          <ul class="product-type__list u-flex">
            <li class="product-type__item product-type__item--active"><a class="product-type__link" href="series_opt.html">OPTICAL</a></li>
            <li class="product-type__item"><a class="product-type__link" href="series_sun.html">SUNGLASSES</a></li>
            <li class="product-type__item"><a class="product-type__link" href="#">FUNCTIONAL</a></li>
          </ul>
        </div>
      </div>

      <div class="series-opt-banner">
        <div class="product-banner u-flex">
          <span class="product-banner-item"></span>
          <span class="product-banner-item"></span>
        </div>
      </div>

      <div class="container-main">
        <div class="page-frame">
          <h2 class="series__title u-flex">
            <p class="series__title-zh">賽璐珞鈦金屬混合鏡框</p>
            <p class="series__title-en">Celluloid Combi</p>
          </h2>

          <ul class="product__list u-flex series-opt-product">
            <li class="product__item">
              <a class="product__link" href="#">
                <div class="product__pic">
                  <img src="../assets/images/product-1.png" alt="">
                </div>
                <div class="product__info">
                  <div class="product__info-title">BJ41600S</div>
                  <div class="product__info-price">NTD3,490</div>
                </div>
                <div class="product__color">
                  <span class="product__color-1"></span>
                  <span class="product__color-2"></span>
                </div>
              </a>
            </li>
            <li class="product__item">
              <a class="product__link" href="#">
                <div class="product__pic">
                  <img src="../assets/images/product-2.png" alt="">
                </div>
                <div class="product__info">
                  <div class="product__info-title">BJ41600S</div>
                  <div class="product__info-price">NTD3,490</div>
                </div>
                <div class="product__color">
                  <span class="product__color-1"></span>
                  <span class="product__color-2"></span>
                </div>
              </a>
            </li>
            <li class="product__item">
              <a class="product__link" href="#">
                <div class="product__pic">
                  <img src="../assets/images/product-3.png" alt="">
                </div>
                <div class="product__info">
                  <div class="product__info-title">BJ41600S</div>
                  <div class="product__info-price">NTD3,490</div>
                </div>
                <div class="product__color">
                  <span class="product__color-1"></span>
                  <span class="product__color-2"></span>
                </div>
              </a>
            </li>
            <li class="product__item">
              <a class="product__link" href="#">
                <div class="product__pic">
                  <img src="../assets/images/product-4.png" alt="">
                </div>
                <div class="product__info">
                  <div class="product__info-title">BJ41600S</div>
                  <div class="product__info-price">NTD3,490</div>
                </div>
                <div class="product__color">
                  <span class="product__color-1"></span>
                  <span class="product__color-2"></span>
                </div>
              </a>
            </li>
            <li class="product__item">
              <a class="product__link" href="#">
                <div class="product__pic">
                  <img src="../assets/images/product-5.png" alt="">
                </div>
                <div class="product__info">
                  <div class="product__info-title">BJ41600S</div>
                  <div class="product__info-price">NTD3,490</div>
                </div>
                <div class="product__color">
                  <span class="product__color-1"></span>
                  <span class="product__color-2"></span>
                </div>
              </a>
            </li>
            <li class="product__item">
              <a class="product__link" href="#">
                <div class="product__pic">
                  <img src="../assets/images/product-6.png" alt="">
                </div>
                <div class="product__info">
                  <div class="product__info-title">BJ41600S</div>
                  <div class="product__info-price">NTD3,490</div>
                </div>
                <div class="product__color">
                  <span class="product__color-1"></span>
                  <span class="product__color-2"></span>
                </div>
              </a>
            </li>
            <li class="product__item">
              <a class="product__link" href="#">
                <div class="product__pic">
                  <img src="../assets/images/product-7.png" alt="">
                </div>
                <div class="product__info">
                  <div class="product__info-title">BJ41600S</div>
                  <div class="product__info-price">NTD3,490</div>
                </div>
                <div class="product__color">
                  <span class="product__color-1"></span>
                  <span class="product__color-2"></span>
                </div>
              </a>
            </li>
            <li class="product__item">
              <a class="product__link" href="#">
                <div class="product__pic">
                  <img src="../assets/images/product-8.png" alt="">
                </div>
                <div class="product__info">
                  <div class="product__info-title">BJ41600S</div>
                  <div class="product__info-price">NTD3,490</div>
                </div>
                <div class="product__color">
                  <span class="product__color-1"></span>
                  <span class="product__color-2"></span>
                </div>
              </a>
            </li>
            <li class="product__item">
              <a class="product__link" href="#">
                <div class="product__pic">
                  <img src="../assets/images/product-9.png" alt="">
                </div>
                <div class="product__info">
                  <div class="product__info-title">BJ41600S</div>
                  <div class="product__info-price">NTD3,490</div>
                </div>
                <div class="product__color">
                  <span class="product__color-1"></span>
                  <span class="product__color-2"></span>
                </div>
              </a>
            </li>
            <li class="product__item">
              <a class="product__link" href="#">
                <div class="product__pic">
                  <img src="../assets/images/product-10.png" alt="">
                </div>
                <div class="product__info">
                  <div class="product__info-title">BJ41600S</div>
                  <div class="product__info-price">NTD3,490</div>
                </div>
                <div class="product__color">
                  <span class="product__color-1"></span>
                  <span class="product__color-2"></span>
                </div>
              </a>
            </li>
            <li class="product__item">
              <a class="product__link" href="#">
                <div class="product__pic">
                  <img src="../assets/images/product-11.png" alt="">
                </div>
                <div class="product__info">
                  <div class="product__info-title">BJ41600S</div>
                  <div class="product__info-price">NTD3,490</div>
                </div>
                <div class="product__color">
                  <span class="product__color-1"></span>
                  <span class="product__color-2"></span>
                </div>
              </a>
            </li>
            <li class="product__item">
              <a class="product__link" href="#">
                <div class="product__pic">
                  <img src="../assets/images/product-12.png" alt="">
                </div>
                <div class="product__info">
                  <div class="product__info-title">BJ41600S</div>
                  <div class="product__info-price">NTD3,490</div>
                </div>
                <div class="product__color">
                  <span class="product__color-1"></span>
                  <span class="product__color-2"></span>
                </div>
              </a>
            </li>
          </ul>


        </div>
      </div>
    </main>

    <%- include('./layout/footer'); -%>
      <script type="module" src="../main.js"></script>
</body>

</html>